CREATE DATABASE PetCareX;
GO

USE [PetCareX]
GO

CREATE TABLE dbo.CHI_NHANH(
    Ma_CN varchar(10) PRIMARY KEY,
    Ten_CN nvarchar(100) NOT NULL,
    Dia_Chi nvarchar(255) NOT NULL,
    SDT varchar(15) NULL,
    Gio_MoCua time(7) NULL,
    Gio_DongCua time(7) NULL,
    NguoiQuanLy varchar(10) NULL,
    CONSTRAINT CHK_GioMoCua CHECK (Gio_MoCua < Gio_DongCua)
)
GO

CREATE TABLE dbo.CT_BAC_SI(
	Ma_NV varchar(10) PRIMARY KEY,
    ho_ten nvarchar(100) NOT NULL,
    So_Nam_Kinh_Nghiem int NULL DEFAULT 0,
    Bang_Cap nvarchar(100) NULL
)
GO



CREATE TABLE dbo.CT_KHAM_BENH(
    Ma_HD varchar(10) NOT NULL,
    Ma_PET varchar(10) NOT NULL,
    Ngay_Kham datetime NOT NULL,
    Trieu_Chung nvarchar(max) NULL,
    Chuan_Doan nvarchar(max) NULL,
    Ngay_Hen_Tai_Kham datetime NULL,
    Bac_Si varchar(10) NULL,
    Thanh_Tien decimal(18, 2) NULL,
	PRIMARY KEY (MA_HD, MA_PET)
)
GO

CREATE TABLE dbo.CT_MUA_HANG(
    Ma_HD varchar(10) NOT NULL,
    Ma_SP varchar(10) NOT NULL,
    So_Luong int NULL,
    Thanh_Tien decimal(18, 2) NULL,
	PRIMARY KEY (MA_HD, MA_SP)
)
GO


CREATE TABLE dbo.CT_TIEM_GOI(
    Ma_HD varchar(10) NOT NULL,
    Ma_PET varchar(10) NOT NULL,
    Ma_GT varchar(10) NOT NULL,
    Ma_Vacxin varchar(10) NOT NULL,
    Ngay_Hen_Tiem datetime NULL,
    Ngay_Tiem_Thuc_Te datetime NULL,
    so_mui_tiem_con_lai int,
	PRIMARY KEY (MA_HD, MA_PET, MA_GT)
)
GO


CREATE TABLE dbo.CT_TIEM_LE(
    Ma_HD varchar(10) NOT NULL,
    Ma_PET varchar(10) NOT NULL,
    Ma_Vacxin varchar(10) NOT NULL,
    Ngay_Tiem datetime NULL,
    Lieu_Luong nvarchar(50) NULL,
    Thanh_Tien decimal(18, 2) NULL,
	PRIMARY KEY (MA_HD, MA_PET, MA_VACXIN)
)
GO

CREATE TABLE dbo.GOI_TIEM(
    Ma_GT varchar(10) PRIMARY KEY,
    Ten_GT nvarchar(100) NOT NULL,
    Thoi_Gian nvarchar(20) NOT NULL,
    Gia decimal(18, 2) NOT NULL

)
GO


CREATE TABLE dbo.HOA_DON(
    Ma_HD varchar(10) PRIMARY KEY,
    NV_Lap varchar(10) NULL,
    Ma_KH varchar(10) NOT NULL,
    Ngay_Lap datetime not null,
    HinhThuc_TT nvarchar(50) NOT NULL 
        CONSTRAINT CHK_Hinhthuc_tt 
        CHECK (HinhThuc_TT IN (N'Tiền mặt', N'Chuyển khoản', N'COD')) 
        DEFAULT N'Tiền mặt',
    Khuyen_Mai int DEFAULT 0,
    Tong_Tien decimal(18, 2) DEFAULT 0,
    Trang_Thai nvarchar(50) NOT NULL 
        CHECK (Trang_Thai IN (N'Hoàn thành', N'Đang xử lý', N'Đã hủy')) 
        DEFAULT N'Đang xử lý',
    Loai_Nghiep_Vu nvarchar(30) NULL 
        CONSTRAINT CK_HOA_DON_LoaiNghiepVu 
        CHECK (Loai_Nghiep_Vu IS NULL OR Loai_Nghiep_Vu IN (N'đơn thuốc', N'khám bệnh', N'mua sản phẩm', N'tiêm vacxin')) 
        DEFAULT N'mua sản phẩm'
)
GO


CREATE TABLE dbo.KHACH_HANG(
    Ma_KH varchar(10) PRIMARY KEY,
    CCCD varchar(12) NULL,
    Ho_Ten nvarchar(100) NULL,
    Ngay_Sinh date NULL,
    Gioi_Tinh nvarchar(10) NULL,
    Email varchar(100) NULL,
    SDT varchar(15) NULL,
    Tong_Chi_Tieu decimal(18, 2) NOT NULL DEFAULT 0,
    Cap_Do_Hoi_Vien nvarchar(20) NOT NULL DEFAULT N'Cơ bản',
    Diem_Loyalty int NOT NULL DEFAULT 0,
    CONSTRAINT CHK_CapDoHoiVien 
        CHECK (Cap_Do_Hoi_Vien IN (N'VIP', N'Thân thiết', N'Cơ bản'))
)
GO


CREATE TABLE dbo.LICH_SU_DIEU_DONG(
    Ma_NV varchar(10) NOT NULL,
    From_CN varchar(10) NULL,
    To_CN varchar(10) NULL,
    Ngay_Chuyen date NOT NULL,
	PRIMARY KEY (MA_NV, NGAY_CHUYEN)
)
GO

CREATE TABLE dbo.NHAN_VIEN(
    Ma_NV varchar(10) PRIMARY KEY,
    Ho_Ten nvarchar(100) NOT NULL,
    Ngay_Sinh date NULL,
    Gioi_Tinh nvarchar(10) NULL,
    Vai_Tro nvarchar(50) not null
        CONSTRAINT CHK_Vai_Tro CHECK (Vai_Tro IN (N'quan ly', N'ban hang', N'Tiep tan')),
    Ngay_Vao date NULL,
    Luong_CB decimal(18, 2) NOT NULL DEFAULT 0,
    Ma_CN varchar(10) NULL
)
GO


CREATE TABLE dbo.SAN_PHAM(
    Ma_SP varchar(10) PRIMARY KEY,
    Ten_SP nvarchar(100) NULL,
    Loai_SP nvarchar(50) NULL,
    Gia decimal(18, 2) NULL,
    Don_Vi_Tinh nvarchar(20) NULL,
    So_Luong int NOT NULL DEFAULT 0,
    CONSTRAINT CHK_LoaiSP CHECK (Loai_SP IN (N'Phụ kiện', N'Thuốc', N'Thức ăn')),
    CONSTRAINT CHK_TonKho CHECK (So_Luong >= 0)
)
GO

CREATE TABLE dbo.GIO_HANG
(
    Ma_KH varchar(10) NOT NULL,
    Ma_SP varchar(10) NOT NULL,
    SO_LUONG int NOT NULL,
    PRIMARY KEY (Ma_KH, Ma_SP),
    Is_Selected BIT NOT NULL DEFAULT 1
)
GO


CREATE TABLE dbo.TAI_KHOAN(
    Ten_DangNhap varchar(50) PRIMARY KEY,
    Mat_Khau varchar(255) NOT NULL,
    Ma_KH varchar(10) NULL,
    Ma_NV varchar(10) NULL,
    Ma_BS varchar(10) NULL,
    vai_tro nvarchar(50) NOT NULL 
        CONSTRAINT vai_Tro CHECK (vai_tro IN (N'KhachHang', N'Nhân viên', N'Bác si', N'Quản lý')) 
        DEFAULT N'KhachHang'
)
GO


CREATE TABLE dbo.THU_CUNG(
    Ma_PET varchar(10) PRIMARY KEY,
    Ma_KH varchar(10) NOT NULL,
    Ten_PET nvarchar(50) NOT NULL,
    Ten_Loai nvarchar(50) NULL,
    Giong nvarchar(50) NULL,
    Gioi_Tinh nvarchar(10) NULL,
    Ngay_Sinh date NULL,
    Tinh_Trang_Suc_Khoe nvarchar(255) default N'Tốt',
    Mau_Sac nvarchar(50) NULL
)
GO


CREATE TABLE dbo.VAC_XIN(
    Ma_Vacxin varchar(10) PRIMARY KEY,
    Ten_Vacxin nvarchar(100) NULL,
    Gia decimal(18, 2) NULL,
    Xuat_Xu nvarchar(100) NULL
)
GO


CREATE TABLE dbo.DANGKY_GOITIEM(
	MA_PET varchar(10),
	ma_GT varchar(10),
	PRIMARY KEY (MA_PET, MA_GT)
)
GO

CREATE TABLE dbo.DANHGIA(
	Ma_KH varchar(10),
	ma_HD varchar(10),
	Chat_luongdv nvarchar(100),
	thai_do_nv nvarchar(150),
	muc_do_hai_long nvarchar(100),
	Binh_luan nvarchar(500),
	PRIMARY KEY (MA_KH, MA_HD)
)

CREATE TABLE dbo.SOMUITIEM(
	Ma_GT varchar(10),
	Ma_Vacxin varchar(10),
	SoMuiTiem int default 1,
	PRIMARY KEY (MA_GT, MA_VACXIN)
)
GO

create table dbo.LICH_KHAM
(
	Ma_lich varchar(10) primary key,
	Ma_BS varchar(10),
	Ca_lamviec int check (Ca_lamviec in (1,2,3)),
	Ngay_Kham datetime,
	ghi_chu nvarchar(50),
)
go

create table dbo.PHIEU_DAT_LICH_KHAM
(
	Ma_Phieu int identity(1,1) primary key,
	Ma_KH varchar(10),
	Ma_PET varchar(10),
	Ma_BS varchar(10),
	Ca_lamviec int check (Ca_lamviec in (1,2,3)),
	Ngay_Dat datetime,
	Trang_Thai nvarchar(50) check (Trang_Thai in (N'Đã xác nhận', N'Chưa xác nhận', N'Đã hủy', N'Hoàn thành')) default N'Chưa xác nhận',
)
go

CREATE TABLE dbo.DON_THUOC (
  Ma_DT varchar(10) PRIMARY KEY,
  Ma_HD varchar(10) NOT NULL UNIQUE,
  Ma_Pet varchar(10),
  Ngay_Ke datetime NOT NULL DEFAULT GETDATE()
);
GO

CREATE TABLE dbo.CT_DON_THUOC (
  Ma_DT varchar(10) NOT NULL,
  Ma_SP varchar(10) NOT NULL,
  So_Luong int NOT NULL,
  Lieu_Dung nvarchar(100) NULL,
  Tan_Suat nvarchar(100) NULL,
  So_Ngay int NULL,
  Cach_Dung nvarchar(255) NULL,
  Don_Gia DECIMAL(18,2) NULL,
  Thanh_Tien AS (ISNULL(Don_Gia,0) * ISNULL(So_Luong,0)) PERSISTED
  PRIMARY KEY (Ma_DT, Ma_SP)

);


GO
--Type truyền data cho chức năng kê đơn thuốc(không phải bảng, không tồn tại data trong db)
CREATE TYPE dbo.TVP_PrescriptionItems AS TABLE
(
  ma_sp NVARCHAR(50) NOT NULL,
  so_luong INT NOT NULL,
  lieu_dung NVARCHAR(255) NULL,
  tan_suat NVARCHAR(255) NULL,
  so_ngay INT NULL,
  cach_dung NVARCHAR(255) NULL
);
GO

--khóa ngoại
